// Main Link Colors
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

// Main Section Colors
$main-bg: #f8f8f8 !default;
$page-bg: #FFF !default;
$article-border: #eeeeee !default;
$noise-bg: image-url('noise.png') top left !default;

$title-color: #222 !default;
$subtitle-color: #aaa !default;

$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* Navigation */
$nav-bg: none !default;
$nav-color: #AAA !default;
$nav-color-hover: darken($nav-color, 25) !default;
$nav-border-bottom: #222 !default;

$article-bg: #FFF !default;

$footer-color: #888 !default;
$footer-bg: #fff !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: #FFF !default;
$footer-border-bottom: #FFF !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: darken($footer-bg, 6) !default;


/* Core theme application */

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  @include transition(color .3s);
}

html {
  background: $page-bg;
}
body {
  > div {
    border-bottom: 1px solid $page-border-bottom;
  }
}

.white {
  color: #FFF;
  a, h1 {
    color: #FFF;
  }
}
